.content {
  background-color:#ff0055;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:white;
}

img {
  width:100%;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #ffcccc}




#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffccff;
    color: Grey;
}
#list {
  color: white;
}
